@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
}

button{
    font-family: 'Montserrat', sans-serif;
}

.root{
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    margin: 0 auto;

    @media screen and (max-width: 900px){
        
        &{
            width: 100%;
        }
    }
}
